!!!
= render 'layouts/side-menu'
.chat-area.clearfix
  .chat-area__group
    %p.chat-area__group__name
      = @group.name
    %ul.chat-area__group__member
      %span Member：
      - @group.users.each do |u|
        %li.chat-area__group__member__list
          = u.name
    = link_to edit_group_path(@group.id) do
      .chat-area__group__edit Edit
  .chat-area__chat
    - for i in 0...100 do
      = render 'messages/chat', chat: @chat
  .chat-area__send
    %form
      %input.chat-area__send__text{ type: 'text', placeholder: 'type a message' }
      %input.chat-area__send__submit{ type: 'submit', value: 'Send' }
      %label{ for: 'message-image' }
        %i.fa.fa-picture-o.chat-area__send__icon
        %input#message-image{ type: 'file', accept: 'image/*' }