!!!
= render 'layouts/side-menu'
.chat-area.clearfix
  .chat-area__group
    %p.chat-area__group__name
      = @group.name
    %ul.chat-area__group__member
      %span Member：
      - @group.users.each do |u|
        %li.chat-area__group__member__list
          = u.name + ","
    = link_to edit_group_path(@group.id) do
      .chat-area__group__edit Edit
  .chat-area__chat
    = render @messages
  .chat-area__send
    = form_for [@group, @message] do |f|
      = f.text_field :comment, class: "chat-area__send__text", placeholder: 'type a message'
      = f.submit :"Send", class: "chat-area__send__submit", "data-disable-with": false
      = f.label :image do
        = fa_icon "picture-o", class: "chat-area__send__icon"
        = f.file_field :image, accept: "image/*"